@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* class = '.' and id = '#' for reference */
/* general selector for tags = <-This inside part-> */
/* background-color sets background color */
/* SYNTAX = ':' symbol after attribute and ';' this symbol after value of that attribute */

* {
    margin: 0;
    font-family: "Lexend", sans-serif;
}

body {
    background-color: #0f0f0f;
}

.navbar {
    height: 60px;
    background-color: #0f0f0f;
    color: #f3f3f3;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding: 10px;
    border-bottom: 2px solid #282828;
    
}

.navbar-buttons {
    display: flex;
    align-items: end;
}

.stylesforicon {
    margin: 15px;
    font-size: x-large;
}


/* Buttons in Navbar */

.btn {
    margin-left: 65px;
    color: #f3f3f3;
    text-decoration: none;
}

#home-btn {
    margin-left: 500px;
}

#about-btn {

}

.title {
    font-size: x-large;
    background-image: linear-gradient(to right, #26adab 0%, #42a4ce 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}

/* HERO STYLES */

.hero {
    padding: 15px;
    width: 500px;
    height: 600px;
    background-color: #0f0f0f;
    margin: 50px;
    color: #f3f3f3;
    text-align: center;
    border: 3px solid #282828;
    border-radius: 20px;
}

.herotitle {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.stylesforicon {
    background-image: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    margin-left: 15px;
}

#home-btn {
    
}